body {
  background-color: #b0b0b0;
  color: #000066;
}

h1,
h3 {
  background-color: #c0c0c0;
  color: #000099;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p.morethen3 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p.lessthen3 {
  font-family: 'Courier New', Courier, monospace;
}

em,
p .someclass {
  color: #0000bb;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration-color: lawngreen;
  font-weight: bold;
}

div ul li {
  color: red;
  font-style: italic;
}

a:link {
  color: red;
  font-style: normal;
}

a:visited {
  color: green;
  font-style: italic;
}

a:hover {
  color: yellow;
  font-style: initial;
}

a:active {
  color: blue;
  font-style: inherit;
}

p.noooo {
  border: dashed rgba(0, 0, 0, 0.5);
  padding-left: 65%;
  padding-top: 5%;
  transition: border 1s;
}


/* minden paratlan sor paros oszlopa legyen felekete */
table tr:nth-child(odd) td:nth-child(even) {
  background: #000;
}

/* minden paros sor paratlan oszlopa legyen felekete */
table tr:nth-child(even) td:nth-child(odd) {
  background: #000;
}

.flex-container {
  display: flex;
}

.flex-par {
  width: 50%;
  height: 50%;
}

p.noooo:hover {
  border: dashed rgba(0, 0, 0, 1);
}