.hidden {
  display: none;
}

.valid {
  background-color: greenyellow;
  height: 20px;
  width : 160px;
  text-align: center;
}

.invalid{
  background-color: red;
  height: 20px;
  width : 160px;
  text-align: center;
}

.error{
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s;
}

.small {
  font-size: 10px;
}

.sizes {
  width:150px;
}

#scrollDiv {
  height: 20px;
  width: 400px;
  background-color: greenyellow;
  overflow: hidden;
}

#scrollText {
  font: bold 12pt arial;
  position: relative;
  overflow: hidden;
}